{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if user.is_authenticated %}
        <div class="newpostform">
          <div class="form-group">
            <form action="{% url 'newpost' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p|safe }}
                <input type="submit" class="btn btn-primary submitbutton"  value = "Submit"/>
            </form>
          </div>
        </div>
        <div id="posts-view">
          {% for post in posts %}
            <div class="card card-signin my-5">
              <div class="card-body" id="post{{post.id}}" style="background-color: #97CAEF;"">
                <a href="{% url 'profilepage' poster=post.Poster %}"><b style="color: black;">{{post.Poster}}</b></a>
                <br><br>
                <p>{{post.Post_content}}</p>
                <small class="text-muted"><p>{{post.Date_posted}}</p></small>
                {% if user.is_authenticated and post.Poster == user %}
                  <button class="btn btn-primary editpost">Edit Post</button>
                {% endif %}
              </div>
              <div class="card-footer" id="" style="background-color: #AAB8C2;">
                <button class="btn btn-white mr-3 like" id="btn{{ post.id }}">
                  <div id="kwame{{ post.id }}">
                    <div id="{{ post.id }}">
                      {% if post in liked_post %}
                        <a href="{% url 'post-like' %}" style="color: red" id="unlikebtn" onclick="likepost(event)">Unlike</a> Likes: {{post.likes.count}}
                      {% else %}
                        <a href="{% url 'post-like' %}" style="color: green" id="likebtn" onclick="likepost(event)">Like</a> Likes: {{post.likes.count}}
                      {% endif %}
                    </div>
                  </div>
                </button>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
